html, body, div, span, h1, h2, h3, h4, h5, h6, p, video, image { margin: 0; padding: 0; border: 0; } a img {border: 0;}

html,
body {
	height: 100%;
}

button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

#banner, #clickBtn{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

@media all (min-width: 950px) {
	#banner{
		width: 970px;
		height: 250px;
		background: url('images/950x250.jpg') no-repeat center center;
	}
}

@media all and (max-width: 949px) {
	#banner{
		width: 628px;
		height: 162px;
		background: url('images/628x162.jpg') no-repeat center center;
	}
}